* {
    line-height: 1.5;
    font: size 15px;
    text-align: center;
    background-color: #eee;
    font-family: monospace;
}

.box-desc {
    background-color: #eee;
    padding: 20px;
    margin: 20px;
}

.box-ingr {
    background-color: #eee;
    padding: 20px;
    margin: 0px;
}

.box-prep {
    background-color: #eee;
    margin: 0px;
    padding: 20px;
    margin: 20px;
}