* {
    line-height: 1.5;
    margin: 0;
    font: size 15px;
    text-align: center;
    outline: blue solid 2px;
    margin: 20px;
    background-color: #eee;
    font-family: monospace;
}

.box-one {
    background-color: #eee;
    padding: 20px;
    border: 0 solid blue;
}

.box-two {
    background-color: #eee;
    padding: 20px;
    border: 0 solid blue;
}

.box-three {
    background-color: #eee;
    margin: 0px;
    padding: 20px;
    border: 0 solid blue;
}